*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 700px;
    flex-direction: column;
    align-items: center;
}
.container{
    border: 2px solid black;
    width: 80%;
    height: 500px;
    padding: 20px;
}

.top{
    display: flex;
    justify-content: space-around;
}
.data{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    border :2px solid black;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.para{
    width : 100px;
    height : 100px;
    border : 2px solid black;
    border-radius: 3px;
    box-shadow : 3px 3px grey;
    margin: 10px;
    padding : 10px;
}
